.ff-container {
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px; 
    min-height: 300px;
}

.ff-container__title {
    font-size: 20px;
    font-weight: 800;
}

.ff-container__button {
    background-color: blue;
    border-radius: 10px;
    color: white;
    width: 80px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}